#project {
  background-color: var(--background-color);

  .wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    .mySwiper {
      .swiper-button-next {
        margin-right: 15px;
      }
    }
  }
}

.projectSection {
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 0 80px;
  color: var(--color);

  /*왼쪽에서 오른쪽으로 이동하는 에니메이션*/
  a {
    position: relative;
  }
  .underLine:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0px;
    height: 1px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #407bff;
  }
  .underLine:hover:after {
    width: 100%;
    opacity: 1;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 70px;
  }

  h3 {
    font-weight: 500;
    font-size: 1.8rem;
  }

  .projectWrap {
    width: 100%;
    height: 100%;
    display: flex;

    .projectLeft {
      width: 40%;
      height: 100%;

      img {
        margin-top: 60px;
        width: 100%;
        cursor: pointer;
      }

      p {
        margin-top: 30px;
        line-height: 1.8rem;
      }

      .imgBox {
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: row wrap;
      }
    }

    .projectRight {
      width: 60%;
      height: 100%;
      text-align: left;
      padding-left: 70px;
      padding-top: 40px;
      margin-bottom: 40px;

      .projTimeLine {
        width: 100%;
        height: 100%;

        .timeLineTitle {
          display: inline-block;
          margin-top: -20px;
          margin-bottom: 10px;
          font-size: 1.5rem;
          font-weight: bold;
        }

        .last {
          margin-bottom: 0;
        }

        p {
          margin-bottom: 30px;
          font-size: 1rem;
          line-height: 1.8rem;

          .timeLineTitle {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #000;
          }

          .blue {
            color: #407bff;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  #project {
    .wrapper {
      .mySwiper {
        .swiper-button-next {
          position: absolute;
          top: 110px;
        }

        .swiper-button-prev {
          display: none;
        }
      }
    }
  }

  .projectSection {
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 0 40px;

    h3 {
      font-weight: 500;
      font-size: 1.5rem;
    }

    .projectWrap {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;

      .projectLeft {
        width: 100%;
        height: 100%;
      }

      .projectRight {
        width: 115%;
        margin-top: 50px;
        margin-left: -30px;
        padding-left: 0;
        margin-bottom: 50px;
      }
    }
  }
}
