.skillsSection {
  width: 100vw;
  min-height: 100vh;
  padding: 0 50px;
  box-sizing: border-box;
  color: var(--color);
  background-color: var(--background-color);

  .wrapper {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;

    .title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      padding-top: 50px;
      font-weight: 700;
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 10px;
    }

    .container {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .box {
        width: 20%;
        height: 100%;

        h3 {
          margin: 20px 0;
          font-weight: 600;
          font-size: 1.4rem;
        }

        p {
          line-height: 1.5rem;
          font-size: 0.9rem;
        }
      }
      
      .box::before, .box3::after {
        content: "";
        width: 40px;
        height: 40px;
        margin-top: 50px;
        display: inline-block;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }

      .box3 {
        position: relative;
      }

      .box3::after {
        position: absolute;
        top:0;
        left: 50px;

        background: url(../../asset/icon-sass.png) no-repeat center center / contain;
      }

      .box1::before {
        background-image: url(../../asset/icon-react.png);
      }

      .box2::before {
        background-image: url(../../asset/icon-js.png);
      }

      .box3::before {
        background-image: url(../../asset/icon-css.png);
      }

      .box4::before {
        background-image: url(../../asset/icon-html.png);
      }

      .box5::before {
        background-image: url(../../asset/icon-github.png);
      }

      .box6::before {
        background-image: url(../../asset/icon-figma.png);
      }

      .box7::before {
        background-image: url(../../asset/icon-notion.png);
      }

      .box8::before {
        background-image: url(../../asset/icon-vscode.png);
      }
    }
  }
}

@media all and (max-width: 768px) {
  .skillsSection {
    .wrapper {
      width: 100%;
      max-width: 1440px;
      height: 100%;
      margin: 0 auto;

      .container {
        width: 80%;
        margin: 0 auto;
        flex-flow: column wrap;

        .updown {
          margin-top: 50px;
          border: 0.1px solid #eee;
          width: 100%;
          height: 80%;
        }

        .box {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
