.header {
  width: 90%;
  height: 50px;
  position: absolute;
  padding-top: 20px;
  left: 5%;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;
  color: var(--color);

  .logo {
    width: 10%;
    position: relative;
    top: 20%;
    cursor: pointer;

    .logoText {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
    }
  }

  .progressbar {
    width: 100%;
    position: relative;
    top: -11px;
  }

  .nav {
    width: 90%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: space-around;

    .menuList {
      width: 80%;
      height: 50px;
      line-height: 50px;
      // justify-content: space-around;
      display: flex;
      padding-left: 15%;

      li {
        cursor: pointer;
        margin-right: 100px;
        font-family: "Poppins", sans-serif;

        .to-right-underline {
          position: relative;
        }
        .to-right-underline:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0px;
          height: 1px;
          margin: 5px 0 0;
          transition: all 0.2s ease-in-out;
          transition-duration: 0.3s;
          opacity: 0;
          background-color: var(--color);
        }
        .to-right-underline:hover:after {
          width: 100%;
          opacity: 1;
        }
      }

      .darkBtn {
        transform: translateY(30%);
      }
    }

    .iconList {
      height: 50px;
      line-height: 50px;
      justify-content: space-around;
      display: flex;

      li {
        margin-left: 40px;
      }
    }
  }

  .navBtn {
    display: none;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 30px;
    color: var(--color);
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .header {
    padding-left: 30px;

    .progressbar {
      display: none;
    }
    .nav {
      display: none;
    }
    .navBtn {
      display: block;
    }
  }
}
