.header {
  width: 100%;

  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
}

.header .wrapper{
  padding: 20px 5%;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;
  color: var(--color);

  .logo {
    width: 10%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;

    .logoText {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
    }
  }

  .progressbar {
    width: 100%;
    position: relative;
    top: -11px;
  }

  .nav {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;

    .menuList {
      width: 80%;
      height: 50px;
      line-height: 50px;
      display: flex;
      padding-left: 15%;

      li {
        cursor: pointer;
        margin-right: 100px;
        font-family: "Poppins", sans-serif;

        .to-right-underline {
          position: relative;
        }
        .to-right-underline:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0px;
          height: 1px;
          margin: 5px 0 0;
          transition: all 0.2s ease-in-out;
          transition-duration: 0.3s;
          opacity: 0;
          background-color: var(--color);
        }
        .to-right-underline:hover:after {
          width: 100%;
          opacity: 1;
        }
      }
    }

    .iconList {
      height: 50px;
      line-height: 50px;
      display: flex;
      justify-content: space-around;

      li {
        width: 70px;
        padding-left: 38px;
      }
    }
  }

  .navBtn {
    display: none;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 30px;
    color: var(--color);
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .header .wrapper {
    padding-left: 30px;

    .progressbar {
      display: none;
    }
    .nav .menuList,
    .nav .iconList li:first-child {
      display: none;
    }

    .nav .iconList li .toggle-button {
      position: absolute;
      top: 14px;
      right: 68px;
    }

    .navBtn {
      display: block;
    }
  }
}
