.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;

  .logo {
    width: 10%;
    position: relative;
    top: 20%;
    left: 30px;
  }

  .progressbar {
    width: 100%;
    position: relative;
    top: -11px;
  }

  .nav {
    width: 90%;
    height: 100%;
    display: block;

    .menuList {
      width: 100%;
      height: 50px;
      line-height: 50px;
      justify-content: space-around;
      display: flex;

      li {
        cursor: pointer;

        a:hover {
          color: #407bff;
          transition: 0.2s;
        }
      }

      .darkBtn {
        transform: translateY(30%);
      }
    }
  }

  .navBtn {
    display: none;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    color: #407bff;
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .header {
    .progressbar {
      display: none;
    }
    .nav {
      display: none;
    }
    .navBtn {
      display: block;
    }
  }
}
