.project01Section {
  width: 100vw;
  height: calc(100vh - 50px);
  // background-color: #f8f8fe;
  overflow: hidden;
  padding: 0 80px;
  box-sizing: border-box;

  h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .projectWrap {
    width: 100%;
    height: 100%;
    display: flex;

    .projectLeft {
      width: 40%;
      height: 100%;

      img {
        margin-top: 60px;
        width: 100%;
      }

      p {
        margin-top: 30px;
        line-height: 1.8rem;
      }
    }

    .projectRight {
      width: 60%;
      height: 100%;
      text-align: left;
      padding-left: 70px;

      .projTimeLine {
        width: 100%;
        height: 100%;

        .timeLineTitle {
          display: inline-block;
          margin-top: -20px;
          margin-bottom: 20px;
          font-size: 1.5rem;
          font-weight: bold;
        }

        p {
          margin-bottom: 30px;
          font-size: 1rem;
          line-height: 1.8rem;

          span {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #000;
          }
        }
      }
    }
  }
}
