:root {
  --color: #1f2937;
  --background-color: #fff;
  --lightblue: #f8f8fe;
  --btn: #407bff;
  --footer: #8c929a;
  --intro-background: #f8f8fe;
  --footer-background: #f9fafb;
}

.dark-mode {
  --color: #f9fafb;
  --background-color: #0e1624;
  --lightblue: #212329;
  --btn: #407bff;
  --footer: #8c929a;
  --footer-background: #1C2433;
  --intro-background: #0e1624;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeferiPoint-SpecialA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "NanumSquareNeo-Variable";
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  width: 100vw;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

button {
  all: unset;
  cursor: pointer;
}

.App, .wrapper, button, a, h1, p, section {
  transition: background-color 0.5s, color 0.5s;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.App .quick-btn-top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,.14);

  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s all;
  opacity: 0; 
  visibility: hidden;

  &.show-quick-btn {
    opacity: 1;
    visibility: visible;
    transition: 0.5s all;
  }
}